"/trainer/dashboard"
<h3>Dashboard Entrenador</h3>

<p>Bienvenido al panel del entrenador.</p>

<ul>
    <li><a href="/trainer/manageclasses">Gestión de Clases</a></li>
    <li><a href="/trainer/clientlist">Lista de Clientes</a></li>
    <li><a href="/trainer/generateinvoices">Generar Facturas</a></li>
</ul>
