@page "/client/dashboard"
<h3>Dashboard Cliente</h3>

<p>Bienvenido al panel del cliente.</p>

<ul>
    <li><a href="/client/metrics">Registrar Métricas</a></li>
    <li><a href="/client/reserveclass">Reservar Clases</a></li>
    <li><a href="/client/metricshistory">Historial de Métricas</a></li>
</ul>
