@inherits LayoutComponentBase
@using SistemaGimnasioV2.Shared

@namespace SistemaGimnasioV2.Shared
{
<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
    <main class="w-50 p-4 shadow rounded bg-white">
        @Body
    </main>
</div>

}
