@page "/admin/dashboard"
<h3>Dashboard Administrador</h3>

<p>Bienvenido al panel de administrador.</p>

<ul>
    <li><a href="/admin/manageusers">Gestión de Usuarios</a></li>
    <li><a href="/admin/manageinventory">Gestión de Inventario</a></li>
    <li><a href="/admin/manageschedules">Gestión de Horarios</a></li>
    <li><a href="/admin/reports">Generar Reportes</a></li>
</ul>
