@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Routing
@using Microsoft.AspNetCore.Components
@using System.Security.Claims
@using SistemaGimnasioV2.Shared

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <h1>Acceso Denegado</h1>
                <NavLink href="/login">Volver al Login</NavLink>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <h1>Página no encontrada</h1>
    </NotFound>
</Router>
